.chatListItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 70px;
  padding-top: 10px;
}

.chatListItem:hover {
  background-color: #F5F5F5;
}

.chatListItem.active {
  background-color: #EBEBEB;
}

.chaListItem--avatar {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.chaListItem--lines {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-left: 15px;
  border-bottom: 1px solid #EEE;

  flex-wrap: wrap;
  min-width: 0;
}

.chaListItem--line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.chatListItem--name {
  font-size: 17px;
  color: #000;
}

.chatListItem--date {
  font-size: 12px;
  color: #999;
}

.chatListItem--lastMsg {
  font-size: 14px;
  color: #999;
  display: flex;
  width: 100%;
}

.chatListItem--lastMsg p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}